AZURE_LOCATION='eastus2'
RESOURCE_NAME_PREFIX='lzv01'
ENVIRONMENT_TAG='dev'
APPGATEWAY_FQDN='apim.example.com'
CERT_TYPE='selfsigned'
ZONE_REDUNDANT='false'
MULTI_REGION='false'
AZURE_LOCATION2='centralus'
