<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://funcapploadtest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/5659093e-caca-4e48-8d0a-fafd15cbafc0/resourceGroups/mbplayground/providers/Microsoft.Web/sites/funcappLoadTest</ResourceId>
    <UserName>$funcappLoadTest</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://funcapploadtest.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>